<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
        <listener class-name="utility.ExecutionListener"/>
    </listeners>
  <test thread-count="4" name="Test">
    <classes>
    
      <class name="testcases.abcTest"/>
      <class name="testcases.SeleniumTestWithFailureEmail"/>
      <class name="testcases.MyTest"/>
      <class name="testcases.LoginTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
